<div class="row d-flex">
    <!-- <div class="col-3 col-lg-2 position-fixed laList">
        <div class="list" *ngFor="let keys of listBoxBySaveurs.keys() ">
            <hr>

            <div class="zone " (click)="collectKey(keys)" style="cursor: pointer;">
                <img src="../../../assets/{{keys}}.png" alt="" style="width: 100%;">
                <div>
                    <p class="saveur " style="font-size: 90%;text-align: center; ">{{ keys }}</p>
                </div>


            </div>

            <hr>
        </div>
    </div> -->
    <div class="col-1">
        <app-panier [panier]="panier"></app-panier>
    </div>
    <div class="col">
        <span *ngIf="key == 'rien'">

            <div class="row carte">

                <div *ngFor="let box of boxes" class="col my-4" style="text-align: center;">

                    <div class="card">

                        <img src="http://localhost:8080/api/image/{{ box.image }}" alt="" style="cursor: pointer;"
                            [routerLink]="'detail/' + box.id">


                        <button class="button-box" (click)="addPanier(box)">{{ box.nom }} </button>
                    </div>

                    <p style="color: white; padding-top: 2%;">${{ box.prix }}</p>
                    <hr style="width: 50%; margin: auto;">
                </div>

            </div>
        </span>
        <span *ngIf="key !='rien'">
        </span>
    </div>
</div>