.carte{
    width: 70%;
    margin: auto;
   
    
    
    
}
.card{
    width: 19rem;
    padding: 5%; 
    text-align: center; 
    margin: auto;
  
    
}

.button-box{
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    color: white;
    background-color: #ff7f17; 
    border: white; 
    
    
}

.list{
    text-align: center;
    
    width: 100%;
  
    text-align: center;
    display: flex;
    height: 210px;
    margin: auto;


}
.saveur{
   text-align: center;
    border-bottom: 9px solid  #ff7f17;

    
    


    
    
}
.zone{
    animation-duration: 10s;
    animation-name: mesImages;
    animation-iteration-count:2s;
    margin: auto;
    width: 70%;
    text-align: center;
    
    position: relative;
   
}


@keyframes mesImages {
    0%{
      transform:translateY(0);
    }
 
    80%{
      transform:translateY(-200px);
    }
}
.laList{
    margin-top: 1.6%;
    margin-left: 2%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    width: 10%; 
    height: 74%;
    border: medium solid #000000;

    

}

.modal{
    display: block;
    width: 100%;
    margin: auto;
}
.modal-dialog{
    --bs-modal-width: 100%;
    margin: auto;
}


.logoSushi{
    margin-left: 43%;
    width: 15%;
}
.Surplace{
    width: 35%;cursor: pointer;margin-left: 15%;border: medium solid #000000;
}

.Emporter{
    width: 35% ; cursor: pointer;border: medium solid #000000;
}

