.table2 tr td {
    border: medium solid #000000;
    text-align: center;
   
}
.tro {
    background-color:  #ff7f17;
}
.retour{
    background-color: #ff7f17; color: white; 
}
.historique{
    margin-top: 12%;
    padding: 2%;
}