.panier{
    background-color: white;
    width: 98%;
    margin: auto;
    position: relative;
    z-index: 88;
    
    
}
.logo-panier{
    font-size: 290%;
    margin-left: 80%;
    

   
}
.zone-panier{

position: absolute;
margin-top: 0.7%;
margin-left: 77%;
width: 22%;
font-size: 80%;

}
#flexSwitchCheckChecked:checked{
    background-color: #ff7f17;
    border-color: #ff7f17;
}
.form-switch{
    margin-left: 40%;
    position: absolute;
    margin-top: 7%;
    display: block;
    font-size: 90%;
}