<div style="margin-top: 13%; width: 80%; margin-left: auto;margin-right: auto;padding: 5%;">
    <h6 >Notre société :</h6>

<p>Les solutions logicielles Suhi-App de nos restaurants Sushi-Fast sont développées et administrées par la Section de Technicien Supérieur (STS) de la filière SIO (Services Informatiques aux Organisations) option SLAM (Solutions Logicielles & Application Métiers) du lycée Léonard de Vinci de la ville de Melun.</p>

<h6>Coordonnées et contact :</h6>

<ul>
  <p> Lycée Polyvalent Léonard de Vinci</p>
    2, bis rue Edouard Branly <br>
    77 000 MELUN CEDEX <br>
    : 01 60 56 60 60 <br>
    : https://www.vinci-melun.org/ <br>
   : ce.0770934xac-creteil.fr <br>
</ul>

<h6>Version locale (bornes de commande en restaurant) :</h6>

<p>L’application est hébergée sur l’infrastructure locale du restaurant Sushi-Fast. Le paiement se faisant en caisse, aucune information personnelles n’est conservée en dehors de la l’opération de commande. Cependant la société se réserve le droit de conserver et centraliser les informations anonymisées permettant d’établir des statiques diverses sur commandes réalisées.</p>
<h6>Version en ligne (application Web) :</h6>

<p>Les informations relatives à vos paniers de commande sont stockées sur la solution de stockage local de votre navigateur. Ce stockage nous permet d’assurer le fonctionnement de notre service et de sa continuité entre différentes sessions.</p>
<h6>Droits sur vos données :</h6>

<p>Nous sommes susceptibles de collecter et conserver des informations personnelles sur nos serveurs. Vous pouvez à tout moment demander à récupérer ou solliciter à un effacement de vos données en nous contactant par mail (voir rubrique contact).</p>
<h6>Hébergement de l’application Sushi-App :</h6>
<h6>Solution frontend :</h6>

<p>L’hébergement est confié à la société GitHub : <a href="https://github.com/">Github</a></p>
<h6>Solution backend : </h6>

<p>L’hébergement de la base de données est confié à la société française LWS (Ligne Web Services) : <a href="https://www.lws.fr">https://www.lws.fr </a></p>
</div>