.lignes{
    margin: auto;
    
    border-top: 5px solid  #C0C0C0 ; /* couleur et épaisseur des bordures */
    padding: 8px; /* espace à l'intérieur des cellules */
    border-radius: 200px;
}
.ligne{
    border-collapse: collapse;
    border-left: 3px solid #ff7f17;
    text-align: center;
    padding: 5%;
    
}
.ligne tr td{
    width: 100%;
}
.buttonDel{
    
    
    text-align: center;
   
}
.bu{
    float: right;
    cursor: pointer;
}
.btn{
    background-color: #ff7f17;
    color: white;
    width: 40%;
    

}
.total{
    font-size: 160%;
    margin: auto;
    text-align: center;
    border-top: medium solid #C0C0C0;
    border-left: medium solid #ff7f17 
}
.valider{
    padding-top: 5%; 
    text-align: center; 
    background-color: none;
}