<div class="detail" >
    <h1>{{lesDetailDeBox?.nom}}</h1>
    <p style="background-color: #ff7f17; width: 12%;margin: auto;color: white;">{{lesDetailDeBox?.pieces}} piéces : {{ lesDetailDeBox?.prix }}€</p>
    <div style="margin-top: 2%;">
<div class="table">
   <a href=""> <i class="bi bi-x-square" style="float:right;margin-top: -4.5%;  color: red; cursor: pointer; font-size: 150%;"></i></a>
    <br>
    <img src="http://localhost:8080/api/image/{{ lesDetailDeBox?.image }}" alt="" style="cursor: pointer;">

        <table class="table1" style="">
            <tr style="margin: auto;text-align: center;">
             
                <th colspan="4">
                <span class="mx-auto">  Les Saveurs</span>
                </th>
              
                
            </tr>
            <tr>
                <td *ngFor="let saveur of lesDetailDeBox?.saveurs">{{saveur}}</td>
            </tr>
        </table>

        <table class="table2">
            <tr>
                <th>Les Aliments</th>
                <th>Quantité</th>
            </tr>
            <tr *ngFor="let aliment of lesDetailDeBox?.aliments">
                <td >
                    {{aliment.nom}}
                </td>
                <td>
                    +{{aliment.quantite}}
                </td>
            </tr>
            <tr>
                <th>Total</th>
                <th>+{{lesDetailDeBox?.pieces}} <p>piéces </p></th>
            </tr>
        </table>
    </div>
</div>
